@tailwind base;
@tailwind components;
@tailwind utilities;
/* Target autofilled inputs */
input:-webkit-autofill {
    /* Reset background and text color */
    background-color: transparent !important;
    color: inherit !important;

    /* Add any other styles you want to apply */
}
/* Target autofilled inputs in various browsers */
input:-webkit-autofill,
input::first-line {
    /* Reset background and text color */
    background-color: transparent !important;
    color: inherit !important;

    /* Add any other styles you want to apply */
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
